<div id="login-form">
    <div class="container">
        <div class="login__img">
            <img src="assets/img/login.png" alt="login img" class="login__img--img">
        </div>
    
        <div class="login__info">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h3 class="login__title">Login</h3>
                <p class="login__title--wel">Welcome back, please login to your accout.</p>
                <div class="container__btn">
                    <div class="container__input">
                        <input type="text" formControlName="username" placeholder="Username" class="login__input login__input--username" required>     
                        <span *ngIf = "loginForm.controls.username.invalid" class="errorMessage"> This is required </span>
                        <br>
                        <input type="text" formControlName="password" placeholder="password"
                         class="login__input login__input--password" required>
                        <span *ngIf = "loginForm.controls.password.invalid" class="errorMessage">
                            <i data-feather="" ></i>This is required</span>
                    </div>
                        <div class="login__type">
                            <div class="login__type--remember">
                                <input type="checkbox" name="rememberMe" class="login__type--remember-checkbox">
                                <p>Remember Me</p>
                            </div>
                            <a href="#" class="login__type--forget">Forgot Password?</a>
                        </div>
                        <div class="login__choose">
                            <button type="submit" class="login__register" [routerLink]="['']" routerLinkActive="active">Register</button>
                                <button type="submit" class="login__submit" [routerLink]="['/dashboard']" routerLinkActive="active"> Login</button>
                        </div>
                        
                        <!-- </form> -->
                    </div>
                </form>
                <div class="space"></div>
                <div class="login__other">
                    <p class="login__other-way--title">Or Login With</p>
                    <div class="login__other-way">
                        <a href="#" class="login__other-way--facebook">
                            <img src="assets/img/fb-icon.jpg" alt="" class="icon login__other-way--facebook-icon">
                        </a>
                        <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidmkifQ%3D%3D%22%7D" class="login__other-way--twitter-icon">
                            <img src="assets/img/twitter.jpg" alt="" class="icon login__other-way--twitter-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>