#login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    background-color: #eaebe5;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 760px;
    max-height: 394px;
    box-shadow: -8px 8px 14px 0 rgb(25 42 70 / 11%);

}

.login__img {
    display: flex;
    align-items: center;
    height: auto;
    width: 380px;
    background-color: #f5f5f5;
    padding: 1.5rem;
}

.login__img--img {
    height: 200px;
    width: 300px;
    background-color: #f5f5f5;
}

.login__info {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 22.5px 33.75px;
    height: auto;
    min-width: 50%;
    background-color: #fff;
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.login__title  {
   // font-size: 20px;
    font-weight: 500;
    color: #17102F;
}

.login__title--wel {
    letter-spacing: 0.3px;
    margin: 1rem 0;
    line-height: 1.5;
    color: #342E49;
    text-align: left;  
    max-width: 310px;  
}

.login__input {
    display: block;
    width: 312.5px;
    margin-right: 33.75px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #75787d;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    &:focus {
        border: 1px solid #975AFF;
        overflow: visible;
    }
    &:focus-visible {
        outline: none;
    }
}

.errorMessage {
    color: red;
}

.login__type {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    font-size: 12px;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
    line-height: 1.5;
}

.login__type--forget {
    margin-left: 20px;
    text-decoration: none;
    color: #975AFF;
}

.login__type--remember {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.login__choose{
    display: flex;
    justify-content: space-between;
}

.login__register {
    padding: 6px 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: none;
    border-radius: 5px;
    border: thick;
    color: #975AFF;
    background-color: #EFDEFF;
    border-color: #EFDEFF;
}

.login__register:hover {
    background-color: #975AFF ;
    color: #fff;
}

.login__type--remember-checkbox {
    font-size: 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 8px;
}
.login__submit {
    padding: 6px 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: none;
    border-radius: 5px;
    border: thick;
    background-color: #975AFF;
    border-color: #975AFF;
    color: #fff;
}

.login__submit:hover {
    box-shadow: 0 2px 7px rgb(0 0 0 / 28%);
    background-color: #a169ff;
    border-color: #a169ff;
}

.space {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 1px solid #E0E0E0;
}

.login__other {
    display: flex;
    justify-content: space-between; 
}

.login__other-way--title {
    color: #975AFF;
    font-size: 15px;
    font-weight: 500;
}

.login__other-way {
    display: flex;
    justify-content: space-around;
}

.login__other-way--facebook-icon,
.login__other-way--twitter-icon {
    display: block;
    width: 28.4px;
    height: 28.4px;
    padding: 0 2px;
}
