*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    position: relative;
}

.menu {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #2F3EA0, #AE342D);
    background-repeat: repeat-x;
}

.menu-el {
    display: block;
    width: 250px;
    height: 50px;
    margin: 5px 0;
    padding: 10px 30px 10px 14px;
    color: #fff;
    cursor: pointer;
}
.menu-el:hover{
    background: rgba(224, 224, 224, 0.2);
    text-overflow: ellipsis;
    transition: all 300ms linear;    
}

.menu__logo {
    display: inline-block;
    width: 250px;
    height: 63px;
    padding: 7.5px 0px 7.5px 14.5px;
    // background: linear-gradient(80deg, rgba(3, 30, 113, 0.733), #b35474) ;
    color: #fff;
}
.menu__logo h1 {
    display: block;
    text-transform: uppercase;
    line-height: 63px;
    font-size: 28px;
    font-weight: 100;
    width: 78px;
}

.menu__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.menu__logo-icon {
    margin: 15px;
}

.navbar {
    height: 63px;
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 4.5px 15px 4.5px 22.5px;
}

.navbar__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    position: absolute;
    right: 0;
}

.navbar__icons--icon:hover {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.navbar__info li:hover {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.navbar__info {
    padding-right: 15px;
}

.w-20 {
    width: 20px !important;
}
.navbar__info li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbar__national--icon {
    width: 26px;
    margin-right: 5px;
}

.navbar__icons--icon {
    margin-right: 10px;
}

.navbar__notice {
    position: relative;
}

.navbar__notice--count {
    position: absolute;
    right: 5px;
    background-color: #F55252;
    top: 0px;
    z-index: 3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.navbar__avt--img {
    width: 35px;
    border-radius: 50%;
}

.example {
    font-size: 50px;
    color: black;
}

