<!-- Thanh Menu -->

<div class="menu">
    <div class="menu__logo">
        <img src="assets/img/logo.png" class="menu__logo-icon" alt="logo icon"
        [routerLink]="['/login']" routerLinkActive="active">
        <h1>apex</h1>
    </div>
    <div class="menu__dashboard menu-el">
        <span>Dashboard</span></div>
    <div class="menu__email menu-el">
        <span>Email</span></div>
    <div class="menu__chat menu-el">
        <span>Chat</span></div>
    <div class="menu__chat-ngrx menu-el">
        <span>Chat NgRx</span></div>
    <div class="menu__taskboard menu-el">
        <span>Task</span></div>
    <div class="menu__taskboard-ngrx menu-el">
        <span>Task Broard NgRx</span></div>
    <div class="menu__calender menu-el">
        <span>Calender</span></div>
    <div class="menu__ui-kit menu-el">
        <span>UI Kit</span> </div>
    <div class="menu__components menu-el">
        <span>Components</span></div>
    <div class="menu__forms menu-el">
        <span>Forms</span>
        <span>New</span>
    </div>
    <div class="menu__table menu-el">
        <span>Table</span></div>
    <div class="menu__data-table menu-el">
        <span>Data</span> Table</div>
    <div class="menu__cards menu-el">
        <span>Cards</span></div>
    <div class="menu__maps menu-el">
        <span>Maps</span></div>
    <div class="menu__charts menu-el">
        <span>Charts</span>
        <span>2</span>
    </div>
    <div class="menu__pages">Pages</div>
    <div class="menu__documentation">Documentation</div>
    <div class="menu__support">Support</div>
</div>
<div class="navbar">
    <div class="navbar__icons">
        <i class="navbar__icons--icon w-20" data-feather="maximize"></i>
        <i class="navbar__icons--icon w-20" data-feather="search" ></i>
    </div>
    <ul class="navbar__info">
        <li>
            <img src="../../../assets/img/us.png" alt="" class="navbar__national--icon">    
            <span>English</span>
        </li>
        <li class="navbar__notice">
            <i class="navbar__notice--icon w-20" data-feather="bell"></i>
            <span class="navbar__notice--count">4</span>

        </li>
        <li class="navbar__name">John Doe</li>
        <li class="navbar__avt">
            <img src="../../../assets/img/avatar-s-1.png" class="navbar__avt--img" alt="">                
        </li>
        <li class="navbar__menu--icon">
            <i data-feather="align-right"></i>
        </li>
    </ul>
</div>  
